@model BookLibrary.ViewModels.ManageLibrary.EditBookViewModel
@{
    ViewData["Title"] = "Edit book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Services.DTO
<h2>Book editing</h2>
<form asp-action="EditBook" asp-controller="ManageLibrary" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label class="control-label">Title</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Author</label>

        <select type="text" asp-for="AuthorId" class="form-control">
            @foreach (var a in (List<AuthorDTO>)ViewBag.Authors)
            {
                <option value="@a.Id">@a.Name @a.Surname</option>
            }
        </select>
        <a class="btn btn-sm btn-success" asp-action="AddAuthor">Add new author</a>
    </div>
    <div class="form-group">
        <label class="control-label">Year</label>
        <input type="number" asp-for="Year" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Image</label>
        <input type="file" asp-for="Image" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Book file</label>
        <input type="file" asp-for="FileBook" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Genre</label>
        <input type="text" asp-for="Genre" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        <textarea type="text" asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label">Rate</label>
        <input type="number" asp-for="Rate" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>
